/* font-family: 'Open Sans', sans-serif; */

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #6c7279;

    background-color: white;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Container
==================================*/

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

/* Header 
==================================*/

.header {
    width: 100%;
    height: 100px;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 0;

    border-bottom: 1px solid #515369;
}

/* Navigation 
==================================*/

.nav {
    display: flex;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
}

.nav__link {
    margin-left: 60px;
    color: white;
    text-decoration: none;
    opacity: 0.74;

    transition: opacity .1s linear;
}

.nav__link:first-child {
    margin-left: 0;
}

.nav__link:hover {
    /* text-decoration: underline; */
    opacity: 1;
}

/* Intro 
==================================*/

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 750px;
    padding-top: 100px;

    background: #2b2e48
    url("img/intro-bg.jpg") no-repeat center /
    cover;
}